{{#if addNewQuestion}}
  <h1>New Question</h1>
    <div class="container">
      <form>
        <div class="form-group">
          <label for="authorInput">Author</label>
          {{input value=authorInput id="authorInput" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="inquiryInput">Question</label>
          {{input value=inquiryInput id="inquiryInput" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="noteInput">Notes</label>
          {{input value=noteInput id="noteInput" class="form-control"}}
        </div>

        <button class="waves-effect waves-green btn saveNewQuestion"{{action 'save1'}}>Save</button>
      </form>
    </div>
{{else}}
    <button class="waves-effect waves-green btn newQuestionForm"{{action 'questionFormShow'}}>New Question</button>
{{/if}}
