<div class="container">
  <h4>More info about {{model.author}}'s question:</h4>
  <h5>Q: {{model.inquiry}}</h5>
  <h5>Notes: {{model.note}}</h5>
  <hr>
  <button class="waves-effect waves-green btn favoriteBtn" {{action 'favorite' model}}>Favorite</button>
  <br><br>
  {{new-answer question=model save2="save3"}}

  <h4>Answers:</h4>
  {{#each model.answers as |answer|}}
    <div>
      {{answer-detail answer=answer update="update"}}
    </div>
  {{/each}}
</div>
